.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.2rem 3.2rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }

  &--primary {
    border-radius: 150px;
  }

  &--orange {
    background-color: darken(#ffa94d, 20%);
    color: #fff;

    &:hover {
      background-color: darken(#ffa94d, 25%);
    }
  }

  &--white {
    background-color: #fff;
    border: 2px solid darken(#ffa94d, 20%);
    color: var(--color-grey-dark--1);

    &:hover {
      background-color: var(--color-primary);
      border: 2px solid var(--color-primary);
      color: var(--color-grey-dark--1);
    }
  }
}
