:root {
  --color-primary: #ffa94d;
  --color-primary-light: #fedcb4;
  --color-primary-light--1: #fdf7f1;
  --color-primary-dark: #ff880a;

  --color-grey-light--1: #faf9f9;
  --color-grey-light--2: #f4f2f2;
  --color-grey-light--3: #f0eeee;
  --color-grey-light--4: #ccc;

  --color-grey-dark--1: #333;
  --color-grey-dark--2: #777;
  --color-grey-dark--3: #999;
  --color-grey-dark--4: #495057;

  --color-paleo: #faa2c1;
  --color-vegetarian: #ffd8a8;
  --color-gluten-free: #e599f7;
  --color-lactose-free: #99e9f2;
  --color-keto: #fcc419;
  --color-pescatarian: #94d82d;
  --color-vegan: #b197fc;
  --color-low-fodmap: #ffa8a8;
  --color-kid-friendly: #63e6be;
}
